.app {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 50px 0;
}
@media (max-width: 1200px) {
  .app {
    width: 640px;
  }
}
@media (max-width: 640px) {
  .app {
    width: 320px;
  }
}
